@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    background-color: #F8F8FF;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.Loginbutton{
 margin: 16px;
  width: 100%;

  align-content: center;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid #505050;
  display: block;
  width: 35%;
  margin: 16px;
  margin-left: auto;
  margin-right: auto;
}


.topleft {
  position: absolute;
  top: 16px;
  left: 16px;

}

.topright {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 18px;
}