
.create-new-districst-form {
    margin-left: 260px;
    height: 50px;
    padding: 5px;
}

.districts-data-grid {
    margin-left: 260px;
}

.column-header {
    height: 40px;
    background: #113CFC;
    color: #FFFFFF;
}
